
// 主色
$primary-color: var(--primary-color);
// 辅助色
$secondary-color: var(--secondary-color);

// 白色
$white: var(--white);

// 灰色
$grey: var(--grey);
$grey-second: var(--grey-second);
$grey-ten: var(--grey-ten);

// 背景颜色
$bg-color: var(--bg-color);
$border-color: var(--border-color);
$form-bg-color: var(--form-bg-color);
$color-bg-transparent: rgb(255 255 255 / 80%);

// 黑色
$black: var(--black);
$black-secondary: var(--black-secondary);
$black-ten: rgb(0 0 0 / 50%);

// 红色
$red: #ff1010;
// 绿色
$green: #3fcda8;
// 黄色
$yellow: #dfed38;
