// font-size
$font-size-lg: 28px;
$font-size-md: 24px;
$font-size-sm: 20px;
$font-size-xs: 16px;
$font-size-xss: 12px;

// paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small$

// vertical margins
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

$border-radius: 4px;
$line-height-base: 1.6667;
