.index_container {
  padding-bottom: 120px;

  .banner_list {
    margin-top: 20px;
  }

  .banner_list__item__img {
    width: 92%;
    position: relative;
    left: 4%;
    border-radius: 20px;
  }

  .swiper-pagination {
    bottom: 20%;
  }
}